.feynman__title {
  width: 648px;
  margin: 0 auto 70px;
  padding-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 120px;
  line-height: 1.15;
  z-index: 1;
  position: inherit;
}
